doctype html
html
	head
		meta(http-equiv='Content-type', content="text/html; charset=utf-8")
		link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		title Recensement médicaments
	body(style="background-color:lightgrey")
		block content
